.landing-main {
  width: 1000px;
}

.modal-wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  flex-flow: row nowrap;
  background-color: #ffffff;
  color: #2b2d42;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.login-wrapper,
.signup-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
}

.form-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.form-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #5c5c5c;
  margin: 3vh auto 1.5vh auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.form .input-field {
  position: relative;
  min-width: 200px;
  width: 70%;
  max-width: 300px;
}

.form .input-field i {
  position: absolute;
  font-size: 1.6rem;
  color: #3d3d3d;
  top: 30%;
  left: 1rem;
}

.form input {
  font-size: 1.2rem;
  padding: 10px 10px 10px 40px;
  background-color: #e8ebe4;
  outline: none;
  border: none;
  border-bottom: 2px solid #b8bacf;
  width: 100%;
  box-sizing: border-box;
  margin: 1vh auto;
}

.form input:focus {
  background-color: #d2d5dd;
}

.form input[type="password"] {
  margin-bottom: 2vh;
}

.form-btn {
  margin: 2vh auto;
  background-image: linear-gradient(45deg, #3d3d3d 20%, #adadad 100%);
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 20px;
  padding: 10px 40px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.form-btn:hover {
  border: 1px solid #3d3d3d;
  color: #3d3d3d;
  background: transparent;
}

/* .signup-wrapper .collapsed-section {
	border-radius: 0 0 1rem 1rem;
}

.login-wrapper .collapsed-section {
	border-radius: 1rem 1rem 0 0;
} */

.collapsed-section {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
  position: relative;
  z-index: 2;
}

.hide-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: white;
}

.collapsed-heading {
  margin: 0;
}

.collapsed-text {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.collapsed-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  outline: none;
  border-radius: 20px;
  padding: 10px 40px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.collapsed-btn:hover {
  background-color: white;
  color: #3c8ce7;
  border: 1px solid white;
}

.hidden {
  display: none;
}

@keyframes moveCollapsedUp {
  0% {
    height: 100%;
    transform: translateY(0);
  }
  50% {
    height: 200%;
    transform: translateY(-83.33%);
  }
  100% {
    height: 100%;
    transform: translateY(-233.33%);
  }
}

@keyframes moveCollapsedDown {
  0% {
    height: 100%;
    transform: translateY(0);
  }
  50% {
    height: 200%;
    transform: translateY(33.33%);
  }
  100% {
    height: 100%;
    transform: translateY(233.33%);
  }
}

@keyframes moveFormUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-42.85%);
  }
}

@keyframes moveFormDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(42.85%);
  }
}

@keyframes moveLeft {
  0% {
    width: 100%;
    transform: translateX(0%);
  }
  50% {
    width: 150%;
    transform: translateX(-50%);
  }
  100% {
    width: 100%;
    transform: translateX(-100%);
  }
}

@keyframes moveRight {
  0% {
    width: 100%;
    transform: translateX(0%);
  }
  50% {
    width: 150%;
    transform: translateX(16.66%);
  }
  100% {
    width: 100%;
    transform: translateX(100%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
