.game-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.data-containter {
  width: 23%;
  height: 97%;
  border: 1px solid red;
}

.hub-container {
  width: 75%;
  height: 97%;
  display: flex;
  justify-content: space-between;
}

.hub-left-container {
  width: 56%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hub-right-container {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-container {
  background-color: rgb(0, 44, 139);
  height: 60%;
}

.controls-container {
  height: 38%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.chat-container {
  height: 60%;
  border: 1px solid blue;
}

.input-container {
  height: 38%;
  border: 1px solid blue;
}

.room-title {
  font-size: 2rem;
  color: rgb(116, 188, 255);
}

#graph-id-graph-wrapper {
  height: 85%;
}

.direction-controls{
  /* border: 1px solid green; */
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}

.direction-box {
  width: 31%;
  height: 30%;
  margin: 1%;
}

.direction-button, 
.direction-button:focus {
  background-color: rgb(0, 44, 139);
  color: rgb(116, 188, 255);
  font-weight: bold;
  font-size: 1.5rem;
  font-size: 1.2vw;
  border: 2px solid rgb(116, 188, 255);
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  outline: none;
}

.direction-button:hover {
  background-color: rgb(116, 188, 255);
  color: rgb(0, 44, 139);
  border: 2px solid rgb(0, 44, 139);
}

.direction-button:active{  
  background-color: rgb(0, 132, 255);
}